@import "tailwindcss";

:root {
  --primary-500: #7B1FA2;
  --primary-200: #EECFFC;

  --sucess-500: #02A117;

  --info-500: #027A7A;
  --info-200: #00A296; 
  --info-50: #F2FAFA;

  --neutral-800: #202326;
  --neutral-700: #393A3C;
  --neutral-600: #6D6F73;
  --neutral-500: #A8ADB7;
  --neutral-200: #CDD1D9;
  --neutral-full: #FFFFFF;
}

@theme inline {
  --color-background: var(--primary-500);
  --color-foreground: var(--neutral-full);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--primary-500);
  color: var(--neutral-full);
  font-family: Arial, Helvetica, sans-serif;
}
