@import "tailwindcss";

:root {
  --primary-500: #7B1FA2;
  --primary-200: #EECFFC;

  --sucess-500: #02A117;

  --warning-500: #FFB300;

  --info-500: #027A7A;
  --info-200: #00A296; 
  --info-50: #F2FAFA;

  --neutral-800: #202326;
  --neutral-700: #393A3C;
  --neutral-600: #6D6F73;
  --neutral-500: #A8ADB7;
  --neutral-200: #CDD1D9;
  --neutral-full: #FFFFFF;
}

@theme inline {
  --color-primary-500: var(--primary-500);
  --color-primary-200: var(--primary-200);

  --color-sucess-500: var(--sucess-500);

  --color-warning-500: var(--warning-500);

  --color-info-500: var(--info-500);
  --color-info-200: var(--info-200);
  --color-info-50: var(--info-50);

  --color-neutral-800: var(--neutral-800);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-full: var(--neutral-full);

  --font-sans: var(--font-nunito-sans);

  --radius-default: var(--radius-xl);
}

body {
  background: var(--primary-500);
  color: var(--neutral-full);
  font-family: Arial, Helvetica, sans-serif;
}
